
  .container {
  background-color:darkblue;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.left-container {
height: 400px;
width:60%;
background-color: orange;
}

.right-container {
height: 400px;
width:300px;
background-color: lightblue;
flex-direction: column;
justify-self: space-evenly;
align-items: center;
}

.child-element {
  background-color: rgb(red, green, blue);
  height:100px;
  padding: 10px;
  border: 1px solid black;
  width:200px;

}